<!doctype html>

<html ng-app="market">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="products.js"></script>
</head>

<body>
<div class="container" ng-controller="productController">
    <form novalidate ng-submit="tryToLogIn()" ng-show="!loggedIn">
        <div class="form-group col-md-6">
            <label for="username">Username</label>
            <input class="form-control" type="text" ng-model="user.name" id="username">
        </div>
        <div class="form-group col-md-6">
            <label for="username">Password:</label>
            <input class="form-control" type="text" ng-model="user.password" id="password">
        </div>
        <div class="form-group col-md-6">
            <button class="btn btn-success" type="submit">Sign in</button>
        </div>
    </form>

    <div ng-show="loggedIn">Don't press F5, {{user.name}}. </div>

    <h3>All Products</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="p in ProductsList">
            <td>{{p.title}}</td>
            <td>{{p.price}}</td>
            <td>
                <button class="btn btn-default" ng-click="updateCart(p.id, 1)">Add to Cart</button>
                <!--                <button class="btn btn-danger" ng-click="deleteProductById(p.id)">Delete</button>-->
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <div class="row">
                    <button class="btn btn-default" ng-click="previousPage()" ng-disabled="page==0">&lt;</button>
                    <span>{{page + 1}}</span>
                    <button class="btn btn-default" ng-click="nextPage()" ng-disabled="page==totalPages-1">&gt;</button>
                    <input class="" type="number" ng-model="size" id="size">
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <h3>Cart</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <td>Name</td>
            <td>Quantity</td>
            <td>Price</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in cart">
            <td>{{item.product.title}}</td>
            <td>
            <table>
            <td>
                    <button class="btn btn-default" ng-click="updateCart(item.product.id, -1)" ng-disabled="item.quantity == 1">-</button>
                </td>
                <td>{{item.quantity}}</td>
                <td>
                    <button class="btn btn-default" ng-click="updateCart(item.product.id, 1)" >+</button>
                </td>
            </td>
            </table>
            <td>{{item.product.price}}</td>
            <td>
               <button class="btn btn-danger" ng-click="deleteCartItem(item.product.id)">Delete</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Total:</td>
            <td>{{totalCartPrice}}</td>
            <td></td>
        </tr>
        </tbody>
        <button class="btn btn-danger" ng-click="clearCart()">Clear cart</button>
    </table>
    <h3>Add new product</h3>
    <form novalidate ng-submit="addNewProduct()">
        <div class="form-group col-md-6">
            <label for="newProductTitle">Name</label>
            <input class="form-control" type="text" ng-model="newProduct.title" id="newProductTitle">
        </div>
        <div class="form-group col-md-6">
            <label for="newProductPrice">Price</label>
            <input class="form-control" type="number" ng-model="newProduct.price" id="newProductPrice">
        </div>
        <div>
            <button class="btn btn-success" type="submit">Save</button>
        </div>
    </form>

</div>
</body>
</html>