<div>
    <h3>Your order</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <td>Name</td>
                <td>Quantity</td>
                <td>Price</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in cart">
                <td>{{item.product.title}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.product.price}}</td>
            </tr>
            <tr>
                <td></td>
                <td>Total:</td>
                <td>{{totalCartPrice}}</td>
            </tr>
            <tr>
                <table>
                    <tr>
                        <td>
                            <form novalidate ng-submit="addAddress()">
                                <input class="" type="text" ng-model="user.newAddress" id="newAddress">
                                <button class="btn btn-default"  type="submit" >Add address</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form novalidate ng-submit="checkOut(currentAddress.id)">
                                <select id="currentAddress"
                                        ng-model="currentAddress"
                                        ng-options="address.value for address in user.addresses track by address.id">
                                </select>
                                <button class="btn btn-warning" type="submit"
                                        ng-disabled="user.addresses == null">
                                    Confirm
                                </button>
                            </form>
                        </td>
                    </tr>
                </table>
            </tr>
        </tbody>
    </table>
</div>